{# Submenu in header nav #}

{% if items %}
{#  @todo remove "hidden" and make this nav visible on click #}
	<ul class="{{ menu_wrapper_classes }} menu--header--submenu hidden">
	{% set menu_wrapper_classes = '' %}
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
