{% set header_menu = menus.header_primary_navigation %}
{% set primary_cta = header_menu.get_field('primary_cta') %}
{% set secondary_cta = header_menu.get_field('secondary_cta') %}

<header id="masthead" class="site-header z-50 relative py-base ts-bg-lt md:py-md">
  <div id="site-navigation" class="main-navigation flex flex-row justify-between items-start p-site
  xl:container">
    <div class="site-branding site-title relative opacity-100 visible">
      <a href="{{ site.home_url }}" rel="home" class="w-full">
        {% if site_logo %}
          <img src="{{ site_logo.src('medium') }}" alt="Site Logo" />
          <span class="sr-only">{{ site.name }}</span>
        {% else %}
        <h1 class="site-title h4 w-10xl ts-text-high-contrast">
          {{ site.name }}
        </h1>
        <span class="sr-only site-description">
          {{ site.description }}
        </span>
        {% endif %}
      </a>
    </div>
    <!-- .site-branding -->

    <div class="flex">
      {# Desktop Nav #}
      {% include "components/nav/nav--desktop.twig" %}

      {# Hamburger button #}
      {% include "btns/btn-hamburger.twig" %}

      {# Mobile nav #}
      {% include "components/nav/nav--mobile.twig" %}

    </div>
  </div>
  <!-- #site-navigation -->
</header>
