{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn">
                    <a href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>{{ __('First', 'ts') }}</button>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn">
                  {% include "atoms/btns/btn-solid.twig" with {
                    link: {title: __('Previous', 'ts'), url:posts.pagination.prev.link},
                    link_svg_name: "arrow-left-short",
                    size: "md"
                  } %}
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>{{ __('Previous', 'ts') }}</button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn">
                  {% include "atoms/btns/btn-solid.twig" with {
                    link: {title: __('Next', 'ts'), url:posts.pagination.next.link},
                    link_svg_name: "arrow-right-short",
                    size: "md",
                    svg_position: "after"
                  } %}
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>{{ __('Next', 'ts') }}</button>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn">
                    <a href="{{ posts.pagination.pages|last.link }}">{{ __('Last', 'ts') }}</a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>{{ __('Last', 'ts') }}</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
