{# Image Caption
*
* Positioned below the image.
* Needs to be wrapped in a <figure> tag, below an <image>.
#}

{% set caption = caption %}
{% set caption_classes = caption_classes %}
{% set figcaption_classes = figcaption_classes %}
{% set bg_figcaption = bg_figcaption ?: "" %}
{% set text_align = text_align ?? "text-left" %}

<figcaption class="caption--below body-xs pt-2xs {{ bg_figcaption }} {{ figcaption_classes }} {{ text_align }}">
  <div class="ts-text-low-contrast {{ caption_classes }}">{{ caption }}</div>
</figcaption>
