{# Image Caption
*
* Positioned on top of the image, at the bottom right.
* Needs to be wrapped in a <figure> tag, below an <image>.
#}

{% set caption = caption %}
{% set caption_classes = caption_classes %}
{% set figcaption_classes = figcaption_classes %}
{% set bg_figcaption = bg_figcaption ?: "ts-bg-black" %}
{% set text_align = text_align ?? "text-left md:text-right" %}

<figcaption class="caption--over body-xs py-3xs relative z-3 {{ bg_figcaption }} {{ figcaption_classes }} {{
text_align }}">
  <div class="ts-text-low-contrast {{ caption_classes }}">{{ caption }}</div>
</figcaption>
