{% set image = image.id ? Image(image.id) : image %}
{% set focal_point = image.id ? image.get_field('focal_point') : null %}
{% set size = size ?: false %}
{% set image_src = size and image.src(size) ? image.src(size) : image.src %}
{% set image_srcset = image.srcset(size) ? "srcset='" ~ image.srcset(size) ~ "'" : '' %}
{% set classes = classes %}
{% set caption = caption ?? image.caption %}
{% set caption_classes = caption_classes %}
{% set figure_classes = figure_classes %}
{% set figcaption_classes = figcaption_classes %}
{% set text_align = text_align %}


{% if image %}

  {#  If video, render a video tag #}
  {% set video_types = ['webm', 'mp4', 'ogg'] %}
  {% set file_type = image_src|split('.')|last|lower|spaceless %}
  {% if file_type in video_types %}
    <div class="video-container">
      <video width="{{ image.width }}" height="{{ image.height }}" autoplay muted loop>
        <source src="{{ image_src }}" type="video/{{ file_type }}">
        Your browser does not support the video tag.
      </video>
      <div class="ts-bg-dk absolute bottom-lg left-base ts-border-radius z-3">
        {# See icon styles in banner.css #}
        <button class="btn-video btn-solid btn--md">Pause</button>
      </div>
    </div>
  {% else %}

    {# If it's an image, render a figure #}
    <figure class="{{ figure_classes }}">
      <img src="{{ image_src }}" {{ image_srcset }}
           width="{{ image.width }}" height="{{ image.height }}"
           alt="{{ image.alt }}" class="{{ classes }}"{% if focal_point %} style="object-position: {{focal_point.horizontal_focal_point}}% {{focal_point.vertical_focal_point}}%"{% endif %}>
      {% if caption %}
        {% if caption_style == "hidden" %}
          {# For hidden captions, make them only available to screen readers #}
          {% include "molecules/image/caption--below.twig" with {
            caption: caption,
            caption_classes: '',
            figcaption_classes: '',
            figcaption_classes: 'sr-only',
          } %}
        {% elseif caption_style == "over" %}
          {% include "molecules/image/caption--over.twig" with {
            caption: caption,
            caption_classes: caption_classes,
            figcaption_classes: figcaption_classes,
            text_align: text_align
          } %}
        {% else %}
          {% include "molecules/image/caption--below.twig" with {
            caption: caption,
            caption_classes: caption_classes,
            figcaption_classes: figcaption_classes,
            text_align: text_align
          } %}
        {% endif %}
      {% endif %}
    </figure>
  {% endif %}
{% endif %}
