{# Card sm
 *
 * Seen on Wayfinding Card.
 * Variables:
 * - image
 * - title
 * - link
 * - type
 * - btn_tag_text
 * - btn_tag_color
 * - link_url
 * - registration_status_text
 * - registration_status_color
 * - date_time
 * - elevation
 * - distance
 * - location
 * - series
#}

{% set default_images = [
  "public://images/2023-09/default-dark-landscape.png",
  "public://images/2023-09/default-light-landscape.png",
  "public://images/2023-09/default-mid-landscape.png"
] %}

{% set random_image = default_images[random(0, 2)] %}

<div class="card-sm-event rounded-[10px] relative ts-bg-white ts-hocus-scale">
  <div class="ts-rounded-img mb-2xs rounded-[10px] card-md__image overflow-hidden relative z-1">
    {% if image %}
      {{ image }}
    {% else %}
{#      {{ drupal_image(random_image, '5_3', responsive=true) }}#}
    {% endif %}
    {% if btn_tag_text %}
      <div class="absolute left-2xs top-2xs z-2">
{#        {% include "@ts_cascade/btns/btn-tag.html.twig" with {#}
{#          color_way: btn_tag_color,#}
{#          text: btn_tag_text#}
{#        } %}#}
      </div>
    {% endif %}
    {% if series %}
      <span class="absolute bg-blue-600 -mr-base py-3xs px-base rotate-45 right-0 top-sm z-2">
        <p class="body-2xs text-white text-center">{{ category }}{{ " Series" }}</p>
      </span>
    {% endif %}
    {% if registration_status_text %}
      <div class="absolute bottom-0 left-0 right-0 text-align-center utility-2xs font-bold">
{#        {% include "btns/btn-tag.html.twig" with {#}
{#          text: registration_status_text,#}
{#          color_way: registration_status_color,#}
{#          tag_classes: "-ml-[5%] rounded-t-0 w-[110%]"#}
{#        } %}#}
      </div>
    {% endif %}
  </div>
  {% if date_time %}
    <div class="mb-3xs text-md-contrast utility-2xs">
      {{ date_time }}
    </div>
  {% endif %}
  {# Card overlay link needs to be immediatley followed by the .card-title for hover/focus styles #}
  {% include "components/card-overlay-link.html.twig" with { link_url: link_url } %}
  <h3 class="h4 mb-2xs text-high-contrast card-title">{{ title }}</h3>
  {% if elevation or distance %}
    <div class="text-md-contrast flex utility-2xs">
      {{ elevation }}
      {% if distance %} <span class="px-3xs">&#8226;</span> {% endif %}
      {{ distance }}
      {% if region %} <span class="px-3xs">&#8226;</span> {% endif %}
      {{ region }}
    </div>
  {% endif %}
</div>
