{# Card Search Listing
 *
 * Seen on Search Listing.
 * Variables:
 * - image
 * - btn_tag_text
 * - title
 * - text
 * - link_url
 * - link
 * - type
 * - date_time
 * - elevation
 * - distance
 * - location
#}

{% set default_images = [
  "public://images/2023-09/default-dark-square.png",
  "public://images/2023-09/default-light-square.png",
  "public://images/2023-09/default-mid-square.png"
] %}

{% set random_image = default_images[random(0, 2)] %}

<article {{ attributes.addClass("card-teaser rounded-[10px] flex relative ts-bg-white ts-hocus-scale py-md")}}>
  <div class="ts-rounded-img mr-sm w-4xl shrink-0">
    {% if image %}
      {{ image }}
    {% else %}
{#      {{ drupal_image(random_image, '1_1', responsive=true) }}#}
    {% endif %}
  </div>
  <div class="flex items-center">
    <div>
      {% if btn_search_listing_tag_text %}
        <div class="mb-2xs">
{#          {% include "@ts_cascade/btns/btn-tag.html.twig" with {#}
{#            color_way: "blue",#}
{#            text: btn_search_listing_tag_text#}
{#          } %}#}
        </div>
      {% endif %}
      {% include "components/card-overlay-link.html.twig" with { link_url: link_url } %}
        <h3 class="h3 mb-2xs text-high-contrast">{{ title }}</h3>
        <p class="body-sm mb-2xs ts-text-high-contrast">{{ text }}</p>
        {% if small_text %}
          <div class="text-md-contrast utility-2xs">
            {{ small_text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
