{# Base btn/link file
 *
 * Uses a btn if no href (link.url).
#}

{# WARNING: DO NOT UPDATE THIS FILE.
 *
 * It will update all buttons and links site-wide. To update a style of button, update
 * the button-style template in templates/_includes/btns. To update a single instance,
 * pass different classes or variables from the instance where the button is included.
 * See README for more info.
#}

{# VARIABLES #}
{% set link = link|default({ title: '', url: '', target: '' }) %}
{% set link_aria_label = link_aria_label %}
{% set link_disabled = link_disabled %}

{# Classes + svg name #}
{% set link_classes = link_classes %}
{% set link_svg_classes = link_svg_classes %}
{% set link_svg_name = link_svg_name %}
{% set svg_position = svg_position ?? 'before' %}
{% set ariaLabel = link_aria_label ? 'aria-label="' ~ link_aria_label ~ '"' %}

{# anchor or button -- checks to see if link.url is set #}
{% if link.url is not empty %}
  <a class="{{ link_classes }}" href="{{ link.url }}" target="{{ link.target }}" {{ link_disabled }} {{ ariaLabel }}>
{% else %}
  <button class="{{ link_classes }}" {{ link_disabled }} {{ ariaLabel }}>
{% endif %}

      {# SVG #}
      {% block svg %}
        {% if link_svg_name is not empty and svg_position == 'before' %}
          <span class="btn-svg {{ link_svg_classes }}">
            {% include 'components/svg-icon-embed.twig' with {
              'svg_name': link_svg_name,
            } only %}
          </span>
        {% endif %}
      {% endblock %}

      {# Content #}
      {% block content %}
        {% if link.title %}
        <span class="{{ text_class }} {% if svg_position|trim == 'before' %} ml-2xs {% else %} mr-2xs{% endif %}">
          {{ link.title }}</span>
        {% endif %}
      {% endblock %}

      {# SVG #}
      {% block svg_after %}
        {% if link_svg_name is not empty and svg_position == 'after' %}
          <span class="btn-svg {{ link_svg_classes }}">
            {% include 'components/svg-icon-embed.twig' with {
              'svg_name': link_svg_name,
            } only %}
          </span>
        {% endif %}
      {% endblock %}

{% if link.url is not empty %}
  </a>
{% else %}
  </button>
{% endif %}
