{# Layouts
 * All grids in use, styled in utilities.css.
#}
{% set gridStyle = "bg-neutral-200 p-xl" %}
{% set headerClasses = "utility-xs my-sm" %}

<div class="">
  <h2 class="h3 mb-xs">Grids</h2>
  <p class="body-sm m-zero">Defined in tailwind-grids.json. Use "xl:container p-site" for site container and padding.</p>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-col-1</h3>
<div class="ts-grid-col-1">
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-col-2</h3>
<div class="ts-grid-col-2">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-col-3</h3>
<div class="ts-grid-col-3">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-col-4</h3>
<div class="ts-grid-col-4">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-col-6</h3>
<div class="ts-grid-col-6">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-4-8</h3>
<div class="ts-grid-4-8">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-7-5</h3>
<div class="ts-grid-7-5">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-8-4</h3>
<div class="ts-grid-8-4">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-9-3</h3>
<div class="ts-grid-9-3">
  <div class="{{ gridStyle }}"></div>
  <div class="{{ gridStyle }}"></div>
</div>
<h3 class="{{ headerClasses }}">Wrapped in ts-grid-center</h3>
<div class="ts-grid-center">
  <div class="{{ gridStyle }}"></div>
</div>

