{# Global Style Guide available at /style-guide #}
{% extends "base.twig" %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
  {% set section_title_classes = "h2 mb-xs" %}
  {% set section_description_classes = "body-xl" %}
  {% set block_title_classes = "h3 mb-xs" %}
  {% set block_description_classes = "body-sm max-w-[900px] mb-sm" %}
  {% set limited_message = "*Available on limited pages." %}

  <span class="hidden justify-end justify-start md:ts-grid-col-3 md:ts-grid-col-4"></span>
  <div class="relative" id="page-style-guide">
    {# Menu#}
    <div class="styleguide-nav ts-bg-white">
      <div class="pt-base text-gray-dk">
        <h1 class="h4 pl-sm pt-xs pb-xs">Styleguide</h1>
        <div class="">
          <ul>
            {% set nav_classes = "body-base-bold bg-gray-100 block pl-sm py-xs rounded-md hover:underline
          focus:underline underline-offset-2" %}
            {% set subnav_classes = "body-xs block pl-lg py-xs hover:underline focus:underline underline-offset-2" %}
            <li><a href="/style-guide#foundations" class="{{ nav_classes }}">Foundations</a></li>
            <ul>

              {# FOUNDATION LINKS #}
              {#  @todo replace hardcoded arrays with a twig function to pull all files from
              _styleguide_sections/foundation/#}
              {% set foundations = [
                "color-all",
                "color-bg",
                "colorways",
                "typography",
                "spacing",
                "grids"
              ] %}
              {% for foundation in foundations %}
                <li><a href="/style-guide#{{ foundation }}" class="{{ subnav_classes }}">
                    {{ foundation|replace({'-':" "})|capitalize }}
                </a></li>
              {% endfor %}

            </ul>
            <li><a href="/style-guide#components" class="{{ nav_classes }}">Components</a></li>
            <ul>

              {# COMPONENT LINKS #}
              {#  @todo replace hardcoded arrays with a twig function to pull all files from
              _styleguide_sections/components/#}
              {% set components = [
                "buttons-&-links",
                "inputs",
                "cards",
                "section-title"
              ] %}
              {% for component in components %}
                <li><a href="/style-guide#{{ component }}" class="{{ subnav_classes }}">
                    {{ component|replace({'-':" "})|capitalize }}
                  </a></li>
              {% endfor %}
            </ul>

            {# GLOBAL BLOCKS #}
            <li><a href="/style-guide#blocks--global" class="{{ nav_classes }}">Blocks (global)</a></li>
            <ul>
              <li><a href="/style-guide#people-cards" class="{{ subnav_classes }}">People Cards</a></li>
              {# Blocks auto generate nav items and same page links to the block on the page #}
              {% for block in ts_blocks %}
                {# Removes "acf/" from block name #}
                {% set block_name = block.name[4:]  %}
                <li><a href="/style-guide#{{ block_name }}" class="{{ subnav_classes }}">{{
                    block_name|replace({'-': " "})|capitalize }}
                  </a></li>
              {% endfor %}
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="styleguide-menu-padding">

      {# FOUNDATION #}
      <div class="py-block xl:container p-site" id="foundations">
        <h2 class="{{ section_title_classes }}">Foundations</h2>
        <p class="{{ section_description_classes }}">The "Foundations" section outlines the color tokens, typography styles, grid parameters, and spacing rules used throughout the AmnestyUSA theme.
        </p>
      </div>

      {% for foundation in foundations %}
      <div class="my-block xl:container p-site" id="{{ section }}">
        {% include "/_styleguide_sections/foundation/" ~ foundation ~ ".twig" %}
      </div>
      {% endfor %}

      {# COMPONENTS #}
      <div class="pt-block xl:container p-site" id="components">
        <h2 class="{{ section_title_classes }}">Components</h2>
        <p class="{{ section_description_classes }}">The “Components” section outlines larger UI elements throughout the theme including buttons, inputs, dropdowns, and cards that display a variety of different snippets of content. These elements are present within the larger blocks or sections of your page builder.
        </p>
      </div>

      {% for component in components %}
        <div class="my-block xl:container p-site" id="{{ component }}">
          <h2 class="{{ block_title_classes }}">{{ component|capitalize }}</h2>
          {% include "/_styleguide_sections/components/" ~ component ~ ".twig" %}
        </div>
        <hr class="{{ hr_classes }}">
      {% endfor %}

      {# Global blocks #}
      <div class="py-block-sm" id="blocks--global">
        <div class="p-site xl:container">
          <h2 class="{{ section_title_classes }}">Blocks (global)</h2>
          <p>Blocks available on all pages.</p>
        </div>
      </div>

      {# Displays all custom Blocks #}
      {% for block in ts_blocks %}
        {% set block_name = block.name|replace({'acf/': ''}) %}
        <div class="py-block-sm" id="{{ block_name }}">
          <div class="p-site xl:container">
            <h2 class="{{ block_title_classes }}">{{ block.title }}</h2>
            <p class="{{ block_description_classes }}">{{ block.description }}</p>
          </div>
          <div class="xl:container p-site my-block ts-bg-lt">
            {% include "/blocks/" ~ block_name ~ "/" ~ block_name ~ "-example.twig" %}
          </div>
        </div>
        <hr class="{{ hr_classes }}">
      {% endfor %}
      <div class="article-pagination">
        {% include "molecules/pagination/pagination.twig" %}
      </div>

    </div>
  </div>
{% endblock %}
