{# Card lg
 * A starter card template.
 *
 * Variables:
 * - tag
 * - has_image
 * - title
 * - text_small
 * - text
 * - link_url
#}

{% set link_url = link.url ? link.url : link %}
{% set hocus_style = link_url ? "ts-hocus-scale" : "" %}

<div class="card-lg mb-sm md:mb-0 relative ts-bg-card {{ hocus_style }}">
  {# Image #}
  {% if has_image %}
    <div class="overflow-hidden">
      {% set classes = "aspect-[5/3] object-cover overflow-hidden lazyloaded w-full" %}
      {% block card_image %}
      {% endblock %}
    </div>
  {% endif %}

  {# Text Wrapper #}
  <div class="p-base md:p-2xl">

    {# Tag #}
    {% if btn_tag_text %}
      <div class="mb-sm">
        {% include "atoms/btns/btn-tag.twig" with {
          text: btn_tag_text
        } %}
      </div>
    {% endif %}

    {% if link_url %}
      {# Card overlay link: needs to be immediately followed by the .card-title for hover/focus styles #}
      {% include "molecules/cards/card-overlay-link.html.twig" with { link_url: link_url } %}
    {% endif %}

      {# Title #}
      {% if title %}
        {% if link_url %}
        <a href="{{ link_url }}" class="ts-text-high-contrast card-title-hocus">
        {% endif %}
          <h3 class="h3 mb-sm">
            {{ title }}
          </h3>
        {% if link_url %}
        </a>
        {% endif %}
      {% endif %}

      {# Text Small #}
      {% if author or date %}
        <div class="body-xs mb-lg ts-text-md-contrast">
          <span class="ts-text-low-contrast">By </span>
          {{ author }}
          <span class="ts-text-low-contrast">on</span>
          <span>{{ date }}</span>
        </div>
      {% endif %}

      {# Text #}
      {% if text %}
        <div class="body-sm ts-text-md-contrast">{{ text }}</div>
      {% endif %}

  </div> {# end Text Wrapper #}
</div>
